---
import Layout from "../layouts/Layout.astro";
import PortfolioCard from "../components/PortfolioCard.astro";
import TestimonialCard from "../components/TestimonialCard";
import StackCard from "../components/StackCard";
import { getCollection } from "astro:content";
import { stacks_data, awards_data, testimonial_data } from "../data";
import Awards from "../components/Awards.astro";
import Marquee from "@/components/ui/marquee";
import HyperText from "@/components/ui/hyper-text";
import FlickeringGrid from "@/components/ui/flickering-grid";

const portfolioEntries = await getCollection("portfolio");
const latestPortfolioEntries = portfolioEntries
  .sort(
    (a: any, b: any) =>
      new Date(b.data.port_date[0]).getTime() -
      new Date(a.data.port_date[0]).getTime()
  )
  .filter((entry: any) => entry.data.onHome);

const clients = portfolioEntries.map((entry: any) => entry.data.client[0]);
const uniqueClients = [...new Set(clients)];
---

<Layout title="Developer Portfolio">
  <div class="px-4">
    <div class="w-full z-0 absolute leading-snug">
      <FlickeringGrid
        className="z-0 relative inset-0 [mask-image:radial-gradient(450px_circle_at_center,white,transparent)]"
        squareSize={4}
        gridGap={6}
        color="#91f209"
        maxOpacity={0.5}
        flickerChance={0.1}
        height={800}
        width={1200}
        client:load
      />
    </div>
    <section
      class="relative z-10 min-h-[80vh] flex items-center container mx-auto"
    >
      <div class="max-w-4xl flex">
        <div>
          <HyperText
            client:load
            className="text-4xl font-bold text-primary dark:text-white"
            text="Ehsan Pourhadi"
          />
          <h1
            class="text-7xl font-basement text-purple-500 !leading-snug bg-gradient-to-r from-primary to-purple-500 bg-clip-text text-transparent animate-gradient mb-4"
          >
            Digital Developer
          </h1>
          <p class="text-2xl text-gray-300 mb-8 max-w-2xl font-inter">
            Crafting digital experiences with modern web technologies and
            creative design solutions.
          </p>

          <a
            href="/portfolio"
            class="inline-block bg-primary text-dark font-basement px-8 py-4 rounded-lg hover:bg-white transition-colors"
          >
            View Portfolio
          </a>
        </div>

        <!-- <Fragment set:html={logo} /> -->
      </div>
    </section>

    <!-- Selected Works -->
    <section class="py-20 bg-color-4">
      <div class="container mx-auto">
        <h2 class="text-4xl font-basement mb-12 text-purple-500 text-center">
          Selected Works
        </h2>
        <div class="grid md:grid-cols-3 gap-8">
          {
            latestPortfolioEntries.map((entry) => (
              <PortfolioCard {...entry.data} />
            ))
          }
        </div>
        <div class="text-center mt-12">
          <a
            href="/portfolio"
            class="inline-block text-primary hover:text-white transition-colors font-basement"
          >
            View All Projects →
          </a>
        </div>
      </div>
    </section>

    <!-- Tech Stacks -->
    <section class="py-20">
      <div class="container mx-auto">
        <h2 class="text-4xl font-basement mb-12 text-primary text-center">
          Stacks
        </h2>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
          {
            stacks_data
              .slice(0, 3)
              .map((stack, index) => (
                <StackCard {...stack} parentIndex={index} client:load />
              ))
          }
        </div>
        <div class="text-center mt-12">
          <a
            href="/skills"
            class="inline-block text-primary hover:text-white transition-colors font-basement"
          >
            View All Skills →
          </a>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="py-20 bg-dark">
      <div class="container mx-auto">
        <h2 class="text-4xl font-basement mb-12 text-primary text-center">
          Testimonials
        </h2>
        <div class="grid md:grid-cols-2 gap-8">
          {
            testimonial_data.map((testimonial) => (
              <TestimonialCard {...testimonial} client:visible />
            ))
          }
        </div>
      </div>
    </section>
    <!-- Awards -->
    <section class="py-10 md:py-20 bg-dark">
      <div class="container mx-auto">
        <h2 class="text-4xl font-basement mb-12 text-yellow-400 text-center">
          Awards
        </h2>
        <Awards />
      </div>
    </section>

    <section class="py-10 md:py-20">
      <div class="container mx-auto">
        <h2 class="text-4xl font-basement mb-12 text-secondary text-center">
          Clients
        </h2>
        <Marquee pauseOnHover className="[--duration:90s]" client:load>
          {
            uniqueClients.map((client) => (
              <div class="p-3 bg-secondary rounded-md">{client}</div>
            ))
          }
        </Marquee>
      </div>
    </section>
  </div>
</Layout>
