---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/globals.css";
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Developer Portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-dark text-light font-inter">
    <Header />
    <main class="min-h-screen pt-20">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Basement";
    src: url("/fonts/basement.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "InterVariable";
    src: url("/fonts/InterVariable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --blur-bg: rgba(255, 255, 255, 0.8);
    --primary: #91f209;
    --p1: #2d3342;
    --p2: #565c6d;
    --p3: #040c1b;
    --c1: #f06;
    --c2: #800033;
    --c3: #40001a;
    --c4: #e6005c;
    --c5: #c5003c;
  }

  .dark {
    --blur-bg: rgba(18, 18, 18, 0.8);
  }

  .bg-color-1 {
    background-image: linear-gradient(220deg, var(--p1), var(--p3));
  }
  .bg-color-2 {
    background-image: linear-gradient(90deg, #c5003c, #f59740);
    color: #fff;
  }
  .bg-color-3 {
    background-image: linear-gradient(220deg, #040c1b, #c5003c);
  }
  .bg-color-4 {
    background-image: linear-gradient(180deg, rgb(18 18 18), rgb(0 0 0));
  }
  .bg-color-5 {
    background-image: linear-gradient(180deg, rgb(0 0 0), rgb(18 18 18));
  }

  .rellax.l_logo {
    min-width: 64px;
  }
  .blur-header {
    backdrop-filter: blur(12px);
    background: var(--blur-bg);
  }

  h1 {
    @apply !leading-normal;
  }

  .clip2 {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      0 100%
    );
  }
  .clip {
    clip-path: polygon(
      0 0,
      25% 0,
      calc(25% + 9px) 9px,
      calc(75% - 9px) 9px,
      75% 0,
      100% 0,
      100% 100%,
      60% 100%,
      calc(60% - 8px) calc(100% - 8px),
      calc(40% + 8px) calc(100% - 8px),
      40% 100%,
      0 100%
    );
  }
</style>
