---
import Layout from "../../layouts/Layout.astro";
import PortfolioCard from "../../components/PortfolioCard.astro";
import { getCollection } from "astro:content";
import PortfolioFilter from "@/components/PortfolioFilter";

const portfolioEntries = await getCollection("portfolio");
const sortedPortfolioEntries = portfolioEntries.sort(
  (a, b) =>
    new Date(b.data.port_date[0]).getTime() -
    new Date(a.data.port_date[0]).getTime()
);

const allCategories = [
  ...new Set(portfolioEntries.flatMap((entry) => entry.data.category)),
];
---

<Layout title="Portfolio - Developer Portfolio">
  <div class="container mx-auto px-4 py-20">
    <h1
      class="text-6xl font-basement bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent animate-gradient mb-12"
    >
      Portfolio
    </h1>
    <PortfolioFilter categories={allCategories} category="all" client:load />
    <div class="grid md:grid-cols-3 gap-8">
      {sortedPortfolioEntries.map((entry) => <PortfolioCard {...entry.data} />)}
    </div>
  </div>
</Layout>
